body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.dummy-img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active-img {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}